<div style="display: flex; justify-content: center; margin: 40px 0;">
  <div style="width: 280px; border: thin solid #888; padding: 10px; text-align: center;">
    <a href="https://www.addgene.org/Eric_Young/" style="text-decoration: none; color: #585858; font-size: 16px; font-family: Arial,Helvetica,sans-serif;" target="_blank" rel="noopener noreferrer">
      <b>Eric Young Lab</b><br>
      Find and request materials through<br>
      <img style="margin-top: 16px;" width="250" height="48" alt="Addgene" src="https://media.addgene.org/cms/filer_public/8a/bb/8abbe848-dd7e-4a14-8711-d50e96d6f1e0/addgene-logo.png">
    </a>
  </div>
</div>
